* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  background-color: lightskyblue;
}

.main-header {
  min-height: 90px;
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.brand-name {
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.navigation-drawer {
  min-height: 100vh;
  width: 200px;
  padding: 20px 10px;
  background-color: #fff;
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  box-shadow: 0 0 4px 2px #00000033;
  transform: translateX(-100%);
  transition: transform 350ms;
  z-index: 9999;
}

.navigation-drawer.open {
  transform: translateX(0);
}

.drawer-button {
  padding: 8px;
  border: 0;
  border-radius: 4px;
  display: inline-block;
  background-color: transparent;
  font-weight: bold;
  font-size: 28px;
  color: #141e16;
  cursor: pointer;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px 20px;
}

.nav-list li a {
  padding: 6px 10px;
  display: block;
  color: #333;
  text-decoration: none;
}

.nav-list li a:hover {
  text-decoration: underline;
}

.skip-to-content {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  z-index: 1000;
}
.skip-to-content:focus {
  display: block;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* GRID CERITA */
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.movie-card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: transform 0.2s;
}

.movie-card:hover {
  transform: scale(1.03);
}

.movie-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.movie-title {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  color: #333;
}

.movie-location {
  font-size: 0.875rem;
  color: #666;
  margin-top: 0.2rem;
}

@media screen and (width > 1000px) {
  .navigation-drawer {
    min-height: auto;
    width: auto;
    padding: 0;
    background-color: transparent;
    flex-direction: row;
    justify-content: space-between;
    position: static;
    box-shadow: none;
    transform: translateX(0);
  }

  .nav-list {
    flex-direction: row;
  }

  .nav-list li a {
    display: inline-block;
  }

  .drawer-button {
    display: none;
  }
}
